@using machineinfo.ViewModels
@model FailureVM

@{
    ViewData["Title"] = @Model.Name + " details";
    string[] tarray = new string[]{};
    if(Model.fileURLs != null)
    {
        tarray = Model.fileURLs.Split(" ");
    } 
}

<h1>@Model.Name</h1>

<div class="col-md-4" style="padding-top: 25px;">
    <table class="table table-hover">
        <thead>

        </thead>
        <tbody>
            <tr>
                <td>Priority</td>
                <td>@Model.Priority</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>@Model.Description</td>
            </tr>
            <tr>
                <td>Status</td>
                <td>@Model.Status</td>
            </tr>
            <tr>
                <td>Machine Name</td>
                <td>@Model.MachineName</td>
            </tr>
        </tbody>
    </table>
    <div>
        @foreach (var item in tarray)
        {
            <div style="padding-top: 15px;"><a href="~/../@item">@item</a></div>
        }
    </div>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.FailureId">Edit</a>
</div>
<div style="padding-top: 20px;">
    <a asp-action="Index">Back to failures list</a>
</div>