@model IEnumerable<machineinfo.Models.Failure>

@{
    ViewData["Title"] = "Create failure";
}

<div>
    <a asp-controller="Failures" asp-action="Create">Create new</a>
</div>
<div>
    <table class="table table-hover">
        <thead>
            <th>
                ID
            </th>
            <th>    
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Priority
            </th>
            <th>
                Status
            </th>
            <th>
                Entry time
            </th>
            <th>
                Machine ID
            </th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.FailureId
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.FailureId">@item.Name</a>
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.Priority
                    </td>
                    <td>
                        @item.Status
                    </td>
                    <td>
                        @item.EntryTime
                    </td>
                    <td>
                        @item.MachineId
                    </td>
                    <td><a asp-action="Edit" asp-route-id="@item.FailureId">Update</a></td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@item.FailureId">
                            <input type="hidden" asp-for="@item.FailureId" />
                            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this?')" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>