@model IEnumerable<FailureVM>
@using machineinfo.ViewModels
@using System;

@{
    ViewData["Title"] = "Create failure";
    TimeSpan z = new TimeSpan(0,0,0,0);
    int i = 0;
}

<div>
    <a asp-controller="Failures" asp-action="Create">Create new</a>
</div>
<div>
    <table class="table table-hover">
        <thead>
            <th>
                ID
            </th>
            <th>    
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Priority
            </th>
            <th>
                Status
            </th>
            <th>
                Entry time
            </th>
            <th>
                Time resolved
            </th>
            <th>
                Machine
            </th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderBy(c => c.FailureId))
            {
                <tr>
                    <td>
                        @item.FailureId
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.FailureId">@item.Name</a>
                    </td>
                    <td>
                        @item.Description
                    </td>
                    <td>
                        @item.Priority
                    </td>
                    <td>
                        @item.Status
                    </td>
                    <td>
                        @item.EntryTime
                    </td>
                    <td>
                        @if(item.ConclusionTime != null)
                        {
                            @item.ConclusionTime
                            i++;
                        }
                    </td>
                    @{
                        var j = item.ConclusionTime - item.EntryTime;
                        z += j.GetValueOrDefault();
                    }
                    <td>
                        @item.MachineName
                    </td>
                    <td><a asp-action="Edit" asp-route-id="@item.FailureId">Update</a></td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@item.FailureId">
                            <input type="hidden" asp-for="@item.FailureId" />
                            <input type="submit" value="Delete" style="border: 0px; background-color: transparent; color: red;" onclick="return confirm('Are you sure you want to delete this?')" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@if(i!= 0){
    var k = z/i;
    var days = k.Days;
    var hours = k.Hours;
    var mins = k.Minutes;
    var sec = k.Seconds;

<div>
    Average failure lasting time: @days days, @hours hours, @mins minutes, @sec seconds
</div>
}