@model IEnumerable<FailureVM>
@using machineinfo.ViewModels

@{
    ViewData["Title"] = Model.FirstOrDefault().MachineName + " details";
    TimeSpan z = new TimeSpan(0,0,0,0);
    int i = 0;
}

<h1>@Model.FirstOrDefault().MachineName</h1>

@if(Model.FirstOrDefault().FailureId != null)
{
<div>
    <div>
        <h4 style="width: 90%; margin: auto; text-align: center; padding-bottom: 20px;">List of failures for @Model.FirstOrDefault().MachineName</h4>
    </div>
    <table class="table table-hover">
        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Machine</th>
            <th>Status</th>
            <th>Priority</th>
            <th>Time created</th>
            <th>Time resolved</th>
        </thead>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FailureId</td>
                <td><a asp-controller="Failures" asp-action="Details" asp-route-id="@item.FailureId">@item.Name</a></td>
                <td>@item.Description</td>
                <td>@item.MachineName</td>
                <td>@item.Status</td>
                <td>@item.Priority</td>
                <td>@item.EntryTime</td>
                <td>
                    @if(item.ConclusionTime != null)
                    {
                        @item.ConclusionTime
                        i++;
                    }
                </td>
                @{
                    var j = item.ConclusionTime - item.EntryTime;
                    z += j.GetValueOrDefault();
                }
            </tr>
        }
    </table>
</div>
}
@if(i != 0)
{
    var k = z/i;
    var days = k.Days;
    var hrs = k.Hours;
    var min = k.Minutes;
    var sec = k.Seconds;
    <div style="padding-bottom: 25px;">
        Average failure lasting time: @days days, @hrs hours, @min minutes, @sec seconds
    </div>
}
<div>
    <a asp-action="Index">Back to list</a>
</div>