@model IEnumerable<machineinfo.Models.Machine>

@{
    ViewData["Title"] = "Machines";
}

<div>
    <a asp-controller="Machines" asp-action="Create">Create a machine</a>
</div>

<div class="col-md-6" style="padding-top: 25px;">
    <table class="table table-hover">
        <thead>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MachineId</td>
                    <td><a asp-action="Details" asp-route-id="@item.MachineId">@item.Name</a></td>
                    <td><a asp-action="Edit" asp-route-id="@item.MachineId">Update</a></td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@item.MachineId">
                            <input type="hidden" asp-for="@item.MachineId" />
                            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this?')" />
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>